body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(57,106,152,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #2dd2aa;
    color: #fff;
    text-align: center;
}

.container-fluid{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    padding: 1% 10%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

p {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(57,106,152,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #2dd2aa;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

.newpage {
    background-color: #396a98;
    text-align: center;
}

/* Features */
#features{
    padding: 7% 15%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Pricing Section */

.pricing-heading {
    text-align: center;
    padding-bottom: 3%;
}

.pricing-box {
    text-align: center;
    padding-bottom: 3%;
    margin-left: 8%;
}

.card-header {
    background-color: #f44488;
    color: #fff;
}

.card-body {
    align-items: center;
}

/* Footer Section */

#footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 2%;
    background-color: #f44488;
    text-align: center;
    text-shadow: 1px 1px 2px, 0 0 1em blue, 0 0 0.2em #faffff;
}

.space {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 10%;
}

.links {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #ef8172;
}

#myprojects {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(57,106,152,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #2dd2aa;
    color: #fff;
    text-align: center;
}

.aboutpage {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(57,106,152,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #2dd2aa;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 2rem;
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0% 5%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  #flip-card-back {
    font-size: 1.5rem;
  }

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}
