body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: green;
    opacity: 0.7;
    color: #fff;
    text-align: center;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Features */
#features{
    padding: 7% 15%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    color: #8f8f8f;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #B99B6B;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #B99B6B;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

.pricing-heading {
    text-align: center;
    padding-bottom: 3%;
}

.pricing-box {
    text-align: center;
    padding-bottom: 3%;
    margin-left: 8%;
}

.card-header {
    background-color: #ff4c68;
    color: #fff;
}

/* CTA Section */

#cta {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: burlywood;
    padding: 7% 15%;
    color: #fff;
}

/* Footer Section */

#footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: burlywood;
    text-align: center;
}
